@import "./variables.css";

@font-face {
    font-family: "MacPaw Fixel Display";
    src: url("/fonts/MacPawFixelDisplay-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MacPaw Fixel Display";
    src: url("/fonts/MacPawFixelDisplay-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MacPaw Fixel Display";
    src: url("/fonts/MacPawFixelDisplay-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SF-Pro-Display-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SF-Pro-Display-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


:root {
    --font-family: "MacPaw Fixel Display", sans-serif;
    --second-family: "SF Pro Display", sans-serif;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: var(--font-family);
    color: #121417;

    min-height: 100vh;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover);
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    background-color: var(--button-bg);
    border-radius: var(--border-radius);
}

.container {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 16px;
}

@media (min-width: 768px) {
    .container {
        max-width: 704px;

    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1240px;

    }
}