.modMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 185px;
    height: 100vh;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    background: #85aa9f;

}

.modMenu.open {
    transform: translateX(0);
}



.userBtn {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 166px;


}

.closeBtn {
    position: absolute;
    top: 18px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    z-index: 1001;
}

.heroWrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

.heroImg {
    margin-top: auto;
    width: 100%;
    display: block;
    height: auto;
}

.heroImg img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}